<div class="jumbotron">
  <h1 class="display-2" style="text-align:center;">Welcome</h1>
  <p class="lead">

<div id="getting-started"></div>

<div style ="text-align:center;">until next lecture!</div>
<hr>
    <div style="text-align:center;">Made with <%= image_tag "heart.svg", size: "16x10", alt: "Heart" %> by Max</div>
     <div style="text-align:center;">Flatiron School Student</div>
</div>