
<div class="jumbotron">
  <h1 class="display-2" style="text-align: center;">Welcome</h1>
  <p class="lead">
    <div class="clock" style="text-align:center; padding-left: 26%;"></div>
<div style ="text-align:center;">until the next code challenge!</div>
<hr>
    <div style="text-align:center;">Made with <%= image_tag "heart.svg", size: "16x10", alt: "Heart" %> by Max</div>
     <div style="text-align:center;">Flatiron School Student</div>
</div>

<script type="text/javascript">
      var clock;

      $(document).ready(function() {

        // Instantiate a counter
        clock = new FlipClock($('.clock'), 300, {
          clockFace: 'HourlyCounter',
          autoStart: true,
          countdown: true
        });
        
      });
    </script>